<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>appTwo</title>
</head>
<body style="margin:0px;">
<h1 style="text-align:center;">Welcome on Django App2</h1>

<div style="background-color:grey; color:white; font-size:2rem;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Atque beatae culpa dignissimos dolores esse illum ipsa iure iusto
        laudantium neque nisi non odit officia praesentium quae quas quasi quo, vel.
    </p>
</div>
</body>
</html>