{% extends "appTwo/base.html" %}

{% block content %}
<section class="d-flex align-items-center bg-info p-2 m-1">
    <div >
        <h1>My Django Site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam architecto,
            aspernatur dolores excepturi expedita fugit hic id, inventore maiores nisi non numquam odio odit quas quis sapiente sint veniam?
        </p>
    </div>
    <div>
        <p class="bg-success">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at cum cumque explicabo fuga illo labore laborum libero magni,
            minus molestias numquam recusandae repellendus reprehenderit sint sit ullam, voluptatibus. Repellat?
        </p>
    </div>

</section>
{% endblock %}
 {{block.super}}